.addButton {
  height: 35px;
}

.backLink {
  color: #36363f;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
}

.backLink svg {
  fill: currentColor;
}

.backLink span {
  padding-right: 0.5rem;
}

.backLink:hover {
  text-decoration: none;
}

.location {
  text-transform: uppercase;
  font-size: 1.125rem;
  color: #373a3c;
  margin-bottom: 0;
}

.locationAddress {
  font-size: 1rem;
}

.statsTitle {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media only screen and (max-width: 320px) {
  .addButton {
    font-size: 0.75rem;
  }
}
