.locationDiv {
  bottom: 25px;
}

.locationTitle {
  color: #ffffff;
  font-weight: 700;
  padding: 0px 20px;
  text-transform: uppercase;
}

.locationSubtitle {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  padding-left: 20px;
  text-transform: uppercase;
}

.locationImage {
  margin-bottom: 0px;
}

.statsBody {
  padding-bottom: 1.75rem;
}

.statsDiv {
  min-height: 150px;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

.statsTitle {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
}

.stats {
  font-size: 0.625rem;
}

@media (max-width: 991px) and (min-width: 768px) {
  .locationDiv {
    bottom: 10px;
  }

  .locationTitle {
    font-size: 16px;
  }
}
