.locationDiv {
  bottom: 50px;
}

.locationTitle {
  color: #ffffff;
  font-weight: 700;
  padding-left: 20px;
  text-transform: uppercase;
}

.locationSubtitle {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 600;
  padding-left: 20px;
  text-transform: uppercase;
}

.statsTitle {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
}

.stats {
  font-size: 0.625rem;
}
